<article class="bills">
<div id="all-bills">
<h1>Search Bills by Topic</h1>
<div id="bills1">
<img src="images/new/education.png" alt="Education Bills">
<a href="#"><h2>Education</h2></a>
</div>
<div id="bills2">
<img src="images/new/economy.png" alt="Economics Bills">
<a href="#"><h2>Economics</h2></a>
</div>
<div id="bills3">
<img src="images/new/world.png" alt="World Bills">
<a href="#"><h2>World</h2></a>
</div>
<div id="bills4">
<img src="images/new/criminality.png" alt="Criminality Bills">
<a href="#"><h2>Criminality</h2></a>
</div>
<div id="bills5">
<img src="images/new/sex-equality.png" alt="Gender Equality Bills">
<a href="#"><h2>Sex and Equality</h2></a>
</div>
<div id="bills6">
<img src="images/new/substances.png" alt="Substance Based Bills">
<a href="#"><h2>Substances</h2></a>
</div>
<div id="bills7">
<img src="images/new/travel.png" alt="Travel Based Bills">
<a href="#"><h2>Travel</h2></a>
</div>
<div id="bills8">
<img src="images/new/health.png" alt="Health Bills">
<a href="#"><h2>Health</h2></a>
</div>

</div>
</article>