<article>
<div id="allcongress">
<div id="congressman1">
<h1>Featured Congresspeople</h1>
<img src="images/bill-nelson.jpg" alt="Bill Nelson">
<h2>Bill Nelson</h2>
<h3>Senator of Florida</h3>
<h4>Percentage of bills voted on, by subject.</h4>
<p><a href="#">More Info</a></p>
<div class="clear">
</div>
</div>
<div id="congressman2">
<img src="images/new/john-isakson.jpg" alt="John Isakson">
<h2>John Isakson</h2>
<h3>Senator of Georgia</h3>
<h4>Percentage of bills voted on, by subject.</h4>
<p><a href="#">More Info</a></p>
<div class="clear">
</div>
</div>
<div id="congressman3">

<img src="images/new/angus-king.jpg" alt="Angus King">
<h2>Angus King</h2>
<h3>Senator of Maine</h3>
<h4>Percentage of bills voted on, by subject.</h4>
<p><a href="#">More Info</a></p>
<div class="clear">
</div>
</div>
<div id="revealmore">
<p><a href="#">Reveal More</a></p>
</div>
</div>

</article>