<footer>
<p>Discover &amp; share your interests</p>
	<nav>	
		<ul>
			<li><a href="index.html">Home</a></li>
    		<li><a href="congress.html">Congress</a></li>
    		<li><a href="bills.html">Bills</a></li>
            <li><a href="#">Survey</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Contact</a></li>
    	</ul>
	</nav>	
<p>Copyright &copy; 2014 TFEU Inc. <a href="#">Privacy Policy</a> and <a href="#">Terms of Use</a></p>
<p>Images sourced from Flickr and GovTrack</p>
</footer>    