<header>

<div id="topnav">
<p>quango</p>
<a href="#"><img src="images/contact-icon.gif" alt="Contact Us"></a>
<a href="#"><img src="images/search-icon.gif" alt="Search"></a>
</div>

<nav class="top-bar" data-topbar role="navigation">
      
    
      <section class="top-bar-section">
        
        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="/">Home</a></li>
          <li><a href="/congress">Congress</a></li>
          <li><a href="/bills">Bills</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Register</a></li>
        </ul>
      </section>
    </nav>
<img src="images/header1.jpg" alt="Revolutionizing the way you look at Congress">


</header>