<article>
<div id="congressman">

<h1>Featured Congressperson</h1>
<img src="images/bill-nelson.jpg" alt="Bill Nelson">

<h2>Bill Nelson</h2>

<h3>Senator of Florida</h3>

<h4>Percentage of bills voted on, by subject.</h4>
<p><a href="#">More Info</a></p>
<div class="clear">
</div>
</div>

<div id="bills">
<h1>Featured Bills</h1>
<div class="single-bills">
<img src="images/new/health.png" alt="Health Bills">
<h2>H.R. 4015</h2>
<h3>SGR Repeal and Medicare Provider Payment Modernization Act of 2014</h3>
<h4>Sponsor: Rep. Michael Burgess [R-TX26]</h4>
<p><a href="#">More Info</a></p>
</div>
<div class="single-bills">
<img src="images/new/economy.png" alt="Economic Bills">
<h2>S. 947</h2>
<h3>SAFE Act Confidentiality and Privilege Enhancement Act</h3>
<h4>Sponsor: Sen. Kay Hagan [D-NC]</h4>
<p><a href="#">More Info</a></p>
</div>
<div class="clear">
</div>

</div>

<div id="news">
<h1>Featured News Stories</h1>
<div class="single-story">
<h2>From the Left</h2>
<img src="images/new/economy.png" alt="Economic Bills">
<h3>Economy and Jobs</h3>
<h4>Long-term unemployed struggle to find &ndash; and keep &ndash; jobs</h4>
<p>New Research shows many of the long-term unemployed who finally land work can't hold onto those jobs&hellip;<a href="#">Read more&hellip;</a></p>
</div>
<div class="single-story">
<h2>From the Center</h2>
<img src="images/new/world.png" alt="Economic Bills">
<h3>Foreign Policy</h3>
<h4>Police: Arrest warrant issued for Captain, 2 crew memers of sunken S. Korea ferry</h4>
<p>An arrest warrant was issued Friday for the captain of the ferry that sank off South Korea&hellip;<a href="#">Read more&hellip;</a></p>
</div>
<div class="single-story">
<h2>From the Right</h2>
<img src="images/new/criminality.png" alt="Criminality Bills">
<h3>Domestic</h3>
<h4>Obama deliberately emboldened America's enemies</h4>
<p>All Americans should be aware of some very disturbing events that speak to the state of terrorism the strength of al Qaeda and our&hellip;<a href="#">Read more&hellip;</a></p>
</div>
<div class="clear">
</div>


<div id="app">
<h1>Take your Quango with you where ever you go</h1>
<img src="images/new/3-screen-view.jpg" alt="Congressperson App page">
<p>Now Quango will always be near to give you the latest on bills, congress and current issues, customized to you.</p>
<img src="images/app-store.png" alt="Download the Quango App">
<div class="clear">
</div>
</div>
</div>
</article>
